body{
    background: linear-gradient(to bottom, #87CEFA 0%, #00002b 100%);   /*Para el fondo difuminado*/
    min-height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: aliceblue;
}

.flex-container{
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    flex-wrap: nowrap;
}

.flex-container > div{
    width: 150px;
    height: auto;
    margin: 5px;
    text-align: center;
}


.grid-container{
    display: grid;
    width: 98vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img1 section"
    "texto fosil"
    ;
}

.grid-container .img1{
    grid-area: img1;
    width: 80%;
    height: 80%;
}

.grid-container section{
    color: black;
    grid-area: section;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}

.grid-container .texto{
    grid-area: texto;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
}

.grid-container .fosil{
    grid-area: fosil;
    width: 80%;
    height: 80%;
}

h1{
    color: black;
    text-align: center;
    font-size: 50px;
}

img{
    width: 130px;
    height: auto;
}

.btn{
    background-color: burlywood;
    color: rgb(99, 143, 128);
    border-radius: 10px;
    font-size: 20px;
}

.btn1:hover{
    background-color: brown;
    border-radius: 8px;
}